.input-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  font-family: 'Open-Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    width: 206px;
  }
  @media screen and (min-width: 1280px) {
    width: 256px;
  }
}

.input-label {
  height: 22px;
  letter-spacing: 0.16px;

  &::first-letter {
    text-transform: uppercase;
  }
}

.date-input {
  height: 51px;
  width: 100%;
  padding: 14px 12px;
  border-radius: 2px;
  border: 1px solid $inputBorderColor;
  background-color: $white;
  letter-spacing: 0.48px;
  font-weight: 600;
  line-height: 1.4;
  color: $mainTextColor;
}

.date-input::-webkit-calendar-picker-indicator {
  filter: invert(18%) sepia(20%) saturate(2817%) hue-rotate(234deg)
    brightness(94%) contrast(86%);
  width: 22px;
  height: 22px;
}
